# Dependencies
node_modules/
**/node_modules/

# Production builds
/backend/dist/
/frontend/.next/
/frontend/out/
/frontend/dist/

# Environment configurations
/backend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS Metadata
.DS_Store
Thumbs.db
